/* --- Styles pour le footer --- */

/* Footer en mobile */
.footer-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
    background: var(--gradient-bottom-top);
    text-align: center;
}

/* Bloc réutilisable */
.footer-block {
    width: 100%;
}

/* Titres cachés en mobile */
.footer-title {
    display: none;
}

/* Liens ds le footer */
.footer-link {
    cursor: pointer;
    font-family: 'Sansita Swashed', Georgia, serif;
    font-weight: bold;
}

/* Marges verticales pour les paragraphes */
.footer-mobile p {
    margin: 5px 0;
}

/* Séparateur visuel visible seulement en mobile */
.footer-separator {
    width: 50px;
    border-bottom: 1px solid var(--color-text);
    margin: 12px 0;
}

/* --- Responsive --- */

/* En tablette */
@media (min-width: 500px) {

    /* Passe le footer en 2 colonnes */
    .footer-mobile {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 80px;
        justify-content: center;
        align-items: start;
        padding: 22px 0;
        text-align: left;
    }

    /* Masquer le séparateur visuel */
    .footer-separator {
        display: none;
    }

    /* Affiche les titres (Informations légales et Droits d'auteur) */
    .footer-title {
        display: block;
        /* Fix Sienna pour imposer la taille de police */
        font-size: 14px !important;
        margin: 0 0 12px 0;
    }

    /* paragraphes */
    .footer-block p {
        /* Fix Sienna pour imposer la taille de police */
        font-size: 14px !important;
        margin: 6px 0;
    }

    /* Changer la police et la taille des liens */
    .footer-link {
        font-family: 'Recursive', Arial, sans-serif;
        font-weight: normal;
        /* Fix Sienna pour imposer la taille de police */
        font-size: 16px !important;
    }

    /* Aligne les blocs à gauche */
    .footer-left,
    .footer-right {
        align-self: start;
    }
}

/* Augmentation de la taille de police */
@media (min-width: 580px) {

    /* Fix Sienna pour imposer la taille de police */
    .footer-title {
        font-size: 16px !important;
    }

    /* Fix Sienna pour imposer la taille de police */
    .footer-block p {
        font-size: 15px !important;
    }
}