/* --- Styles pour le header --- */

/* --Header principal-- */
header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 18px 10px;
    background: var(--gradient-top-bottom);
}

/* Barre de nav contenant logo et marque */
header nav {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    font-family: 'Sansita Swashed', Georgia, serif;
    font-weight: bold;
    font-size: 32px;
    color: var(--color-text);
    margin-left: 10px;
}

/* Nom de marque */
.brand {
    font-family: 'Sansita Swashed', Georgia, serif;
    font-weight: normal;
    font-size: 32px;
    color: var(--color-text);
    margin-left: 20px;
    cursor: pointer;
}

/* Icône burger (mobile) */
.burger {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}


/* --- Menu horizontal tablette --- */
/* FIX pour Sienna qui applique une taille de police incorrecte */
header .menu-horizontal a,
header .menu-horizontal li {
    font-size: inherit !important;
}

/* Menu horizontal par défaut (tab uniquement) */
.menu-horizontal {
    display: none;
    gap: 5px;
    font-family: 'Sansita Swashed', Georgia, serif;
    font-size: 16px;
    font-weight: normal;
}

/* Cacher les éléments de la liste */
.menu-horizontal li {
    list-style: none;
}

/* --- Popup menu (mobile) --- */
/* Menu par défaut */
#popup {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 2000;
    font-family: 'Sansita Swashed', Georgia, serif;
    background: var(--menu-popup-bg);
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Menu visible */
#popup.show {
    opacity: 1;
    visibility: visible;
}

/* Liste du menu */
#menu-liste {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    background: var(--gradient-top-bottom);
    width: 60vw;
    align-items: start;
    gap: 10px;
    padding: 40px;
}

/* Curseur pour les éléments de la liste */
.liste {
    cursor: pointer;
}

/* Croix pour fermer le menu */
#menu-close {
    background: var(--gradient-top-bottom);
    color: var(--color-text);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
    cursor: pointer;
}

/* --- Responsive --- */

/* En tablette */
@media (min-width: 500px) {

    /* Cache le burger et la popup */
    .burger,
    #popup {
        display: none;
    }

    /* Affiche le menu horizontal */
    .menu-horizontal {
        display: flex;
    }
}

/* Ajustement du texte de menu */
@media (min-width: 520px) {
    .menu-horizontal {
        margin-right: 20px;
    }
}

@media (min-width: 570px) {
    .menu-horizontal {
        gap: 20px;
        font-size: 18px;
    }
}

/* Ajustement du header */
@media (min-width: 640px) {
    header {
        padding: 20px 40px;
    }
}