/* --- Styles pour la page d'accueil --- */

/* -Titre de la page d'accueil- */
main h1 {
    margin-bottom: 30px;
}

/* -À propos de moi- */
#about-me {
    border-radius: 5px;
    margin-bottom: 30px;
}

#about-me p {
    line-height: 1.5;
    margin-top: 10px;
}

.github-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: var(--color-button-bg);
    color: var(--color-text);
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 14px;
    text-decoration: none;
    transition: background 0.3s;
}

.github-button:hover {
    background: var(--color-button-valider);

}

.github-icon {
    width: 20px;
    height: 20px;
}


/* -Compétences Techniques- */

/* Titre */
#skills h2 {
    margin-bottom: 10px;
}

/* compense le header sticky */
#skills {
    scroll-margin-top: 75px;
}

/* Tableau des compétences techniques */
.skills-tabs {
    border-radius: 10px;
    padding: 18px;
    background: var(--gradient-top-bottom);
}

/* Filtre des compétences techniques par catégorie */
.skills-tabs nav {
    display: flex;
    margin-bottom: 18px;
    justify-content: center;
}

/* Btns de catégorie */
.skills-tabs .tab {
    font-size: 16px;
    color: var(--color-text);
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

/* État actif et survolé */
.skills-tabs .tab.active,
.skills-tabs .tab:hover {
    background: var(--color-button-bg);
}

/* Liste des compétences */
.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.skills-list li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid var(--color-text);
}

/* Retire la bordure sur le dernier élément visible */
.skills-list li.last-visible {
    border-bottom: none;
}

/* Icône de compétence */
.skills-list li .icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 10px;
    background-color: var(--color-body-bg);
    padding: 2px;
    border-radius: 10px;
}

/* Titre de la compétence */
.skill-title {
    font-size: 16px;
    width: 120px;
    font-weight: bold;
    margin-right: 10px;
    flex-shrink: 0;
}

/* Description de la compétence */
.skill-desc {
    font-size: 16px;
    flex-grow: 1;
    word-break: break-word;
    overflow-wrap: anywhere;
}

/* -Section Expériences- */
#experiences {
    margin-top: 30px;
    scroll-margin-top: 70px;
}

/* Titre principal */
#experiences h2 {
    margin-bottom: 10px;
}

/* Texte d’introduction */
#experiences>p {
    margin-bottom: 20px;
}

/* Chaque expérience/projet */
.experience {
    background: var(--gradient-top-bottom);
    border-radius: 12px;
    padding: 10px 30px;
    margin-bottom: 30px;
}

/* Titre du projet, titres secondaires (A propos, Compétences techniques) et paragraphes */
#experiences .experience .project-title,
#experiences h2,
.experience p {
    margin-bottom: 8px;
}

/* Sous-titre du projet */
.experience .project-subtitle {
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

/* Image du projet */
.experience .project-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 8px;
}

/* Liste des compétences */
.skills-tags {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

/* Étiquettes de compétences */
.skills-tags li {
    font-size: 16px;
    font-weight: bold;
    background: var(--color-text);
    color: var(--color-button-bg);
    padding: 4px 10px;
    border-radius: 6px;
}

/* --- Responsive --- */

@media screen and (min-width: 390px) {

    /* Filtre des compétences techniques par catégorie */
    .skills-tabs nav {
        gap: 18px;
        justify-content: flex-start;
    }

}