/* --- Styles pour la page Mentions Légales --- */

/* Titre de la page */
.legal-container h1 {
    margin-bottom: 20px;
}

/* Sous-titres, Paragraphes et Listes */
.legal-container h2,
.legal-container p,
.legal-container ul {
    margin-bottom: 10px;
}

/* Listes */
.legal-container ul {
    list-style: square;
}

.legal-container li {
    margin-left: 25px;
}

/* --- Responsive --- */

/* Tablette et ordi */
@media (min-width: 500px) {

    /* Augmentation de l'espacement sous le titre */
    .legal-container h1 {
        margin-bottom: 50px;
    }
}