/* --Page Mentions légales-- */

/* Titre principal */
/* .legal-container {
    margin-bottom: 30px;
} */
.legal-container h1 {
    margin-bottom: 20px;
}

/* Sous-titres, Paragraphes et Listes */
.legal-container h2,
.legal-container p,
.legal-container ul {
    margin-bottom: 10px;
}

/* Listes */
.legal-container ul {
    list-style: square;
}

.legal-container li {
    margin-left: 25px;
}

/* Espacement pour les écrans plus larges */
@media (min-width: 500px) {
    .legal-container h1 {
        margin-bottom: 50px;
    }
}