/* === Polices personnalisées ===*/
/* Sansita Swashed pour les titres */
/* @font-face {
    font-family: 'Sansita Swashed';
    src: url('../fonts/Titre-Sansita/SansitaSwashed-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'Sansita Swashed';
    src: url('../fonts/Titre-Sansita/sansita-swashed-latin-400-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansita Swashed';
    src: url('../fonts/Titre-Sansita/sansita-swashed-latin-700-normal.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* Recursive pour le texte */
@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Texte-Recursive/recursive-latin-400-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Texte-Recursive/recursive-latin-700-normal.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* === Variables CSS === */
:root {
    /* Couleur pour les textes */
    --color-text: #3B0647;
    /* Couleur de fond principale */
    --color-main-bg: #EFF8FF;
    /* Dégradé du haut vers le bas (par défaut) */
    --gradient-top-bottom: linear-gradient(to bottom, #50A8A4, #00F0CD);
    /* Dégradé du bas vers le haut */
    --gradient-bottom-top: linear-gradient(to top, #50A8A4, #00F0CD);
    --menu-popup-bg: #808080d9;
    --color-button-bg: #5CFFE7;
}

/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Utilisation dans le site */
body {
    font-family: 'Recursive', Arial, sans-serif;
    color: var(--color-text);
}

/* Décalage pour que le contenu ne soit pas caché sous le header sticky */
main {
    /* 68px = hauteur approximative header sticky */
    padding: 70px 10px 10px 10px;
    background: var(--color-main-bg);
    /* font-size: 16px; */
}

/* Décalage lors des scrolls vers ancres */
html {
    scroll-padding-top: 70px;
}

/*== Mobile (par défaut) ==*/
h1 {
    font-size: 21px;
    font-weight: bold;
    font-family: 'Sansita Swashed', Georgia, serif;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Sansita Swashed', Georgia, serif;
}

/*=============
  Media Queries
===============*/

/*== Tablette ==*/
@media (min-width: 500px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 18px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }
}