/* === Polices personnalisées ===*/
/* Sansita Swashed pour les titres */
@font-face {
    font-family: 'Sansita Swashed';
    src: url('../fonts/Titre-Sansita/sansita-swashed-latin-400-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sansita Swashed';
    src: url('../fonts/Titre-Sansita/sansita-swashed-latin-700-normal.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* Recursive pour le texte */
@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Texte-Recursive/recursive-latin-400-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Texte-Recursive/recursive-latin-700-normal.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* === Variables CSS === */
:root {
    /* Couleur pour les textes */
    --color-text: #3B0647;
    /* Couleur de fond principale */
    --color-body-bg: #EFF8FF;
    /* Dégradé du haut vers le bas (par défaut) */
    --gradient-top-bottom: linear-gradient(to bottom, #50A8A4, #00F0CD);
    /* Dégradé du bas vers le haut */
    --gradient-bottom-top: linear-gradient(to top, #50A8A4, #00F0CD);
    --menu-popup-bg: #808080d9;
    --color-button-bg: #5CFFE7;
    --color-alerte: #FF4242;
}

/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Utilisation dans le site */
body {
    /* Permet de pousser le footer en bas */
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Recursive', Arial, sans-serif;
    color: var(--color-text);
    background: var(--color-body-bg);
}


/* Décalage pour que le contenu ne soit pas caché sous le header sticky */
main {
    /* Le contenu prend toute la place dispo */
    flex: 1;
    /* 68px = hauteur approximative header sticky */
    padding: 70px 10px 20px 10px;
    /* font-size: 16px; */
}

/* Décalage lors des scrolls vers ancres */
html {
    height: 100%;
    scroll-padding-top: 70px;
}

/*== Mobile (par défaut) ==*/
h1 {
    font-size: 21px;
    font-weight: bold;
    font-family: 'Sansita Swashed', Georgia, serif;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Sansita Swashed', Georgia, serif;
}

p,
ul {
    font-size: 16px;
}

/* === Bouton retour haut de page === */
#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 10px;
    /* width: 50px;
    height: 50px; */
    border: none;
    border-radius: 50%;
    /* dégradé violet/bleu */
    background: var(--color-body-bg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

#scrollToTopBtn img {
    width: 50px;
    height: auto;
}

#scrollToTopBtn.show {
    opacity: 1;
    pointer-events: auto;
}

/*=============
  Media Queries
===============*/

/*== Tablette ==*/
@media (min-width: 500px) {
    main {
        padding: 0 10% 30px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    p,
    ul {
        font-size: 17px;
    }

    #scrollToTopBtn {
        right: 20px;
    }
}

@media (min-width: 580px) {
    main {
        padding: 0 15% 30px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }

    p,
    ul {
        font-size: 18px;
    }

    #scrollToTopBtn {
        right: 25px;
    }
}