// Importer les variables,mixins et placeholders;
@import './_variables';
@import './_mixins';
@import './_placeholders';

body{background-color: $fond-succes;
}
h1{font-family: $font-titre;
font-weight: bold;
font-style: italic;}

p{font-family: $font-texte;
    font-style: italic;
}